:root {
  --rougefonce: #6c1d1d;
  --rouge: #c02f2f;
  --clair: #C1C9D9;
  --blanc: #ffffff;
  --grisclair: #383838FF;
  --grisfonce: #232323;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
body {
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background-color: var(--grisfonce);
}

.wrap {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.wrapform {
  color: red;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 10px;
  input,textarea,select {
    width: 100%;
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 5px;
    color: black;
    font-weight: 700;
  }
  input[type=submit]:hover{
    background-color: #afafaf;
    cursor: pointer;
  }
  .error {
    color: darkred;
  }
}

.listings ul{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  a {
    display: block;
    width: 100%;
    background-color: var(--grisclair);
    padding: 1rem;
    transition: all .5s;
    &:hover {
      background-color: var(--rouge);
    }
  }
}
.listing {
  display: flex;
  justify-content: space-between;
  .unique_listing {
    display: flex;
    width: 100%;
    background-color: var(--grisclair);
    padding: 1rem;
    transition: all .5s;
    &:hover {
      background-color: var(--rouge);
      span {
        color: black;
      }
    }
  }

  .user,.slot,.room {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    span {
      transition: all .3s;
      color: var(--rouge);
    }
    span:nth-child(2) {
      margin-left: 2rem;
    }
    p {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .end {
        padding: .3rem;
        background-color: var(--rougefonce);
        border-radius: 5px;
        transition: all .3s;
        &:hover {
          color: var(--rouge);
          background-color:white;
        }
      }
    }
  }
}

.uniqueslot {
  padding: 1rem;
  margin-bottom: 1rem;
  p {
    display: flex;
    width: 100%;
    background-color: var(--grisclair);
    padding: 1rem;
    transition: all .5s;
    color: var(--rouge);
    span {
      margin-left: .5rem;
      color: white;
    }
  }
}

h1 {
  color: var(--rouge);
}
.container {
  min-height: calc(100vh - 220px);
}
#masthead {
  padding: 1rem 0;
  background-color: var(--rougefonce);
  height: 60px;
  nav ul {
    display: flex;
    gap: 1rem;
    justify-content: center;
    li a {
      color: var(--blanc);
    }
  }
}

#colophon {
  background-color: var(--rougefonce);
  color: var(--blanc);
  padding: 1rem 0;
  text-align: center;
  height: 60px;
}